<html>
    <div class="navbar">
        <ul>
            <li>Galgallo Roba</li>
            <li> <a href="/sign_in">Log Out</a> </li>
            
        </ul>
    </div>

    <form method="post">
        <label for="drug_search">Search drug :</label>
        <input type="text" name="drug_search" id="drug_search" >
        <button name="submit" value="search" >Search</button>
    </form>
    <style>
        th,td{
            padding:.2cm;
        }
        .drugs:hover{
            cursor: pointer;
            background:greenyellow;
        }
    </style>
    <table>
        <tr>
            <th>NO.</th>
            <th>Name</th>
            <th>ID</th>
            <th>Cost</th>
            <th>BrandName</th>
            <th>Category</th>
            <th>Expiry</th>
            <th>Quantity</th>

        </tr>
        <tr class="drugs" >
            <td>1</td>
            <td>Paracetamol</td>
            <td>4128</td>
            <td>Ksh 300.00</td>
            <td>Paracetamol</td>
            <td>Analgesics</td>
            <td>23/02/2023</td>
            <td>300</td>
        </tr>
        <tr class="drugs" >
            <td>1</td>
            <td>Mara Moja</td>
            <td>4128</td>
            <td>Ksh 300.00</td>
            <td>Mara Moja</td>
            <td>Analgesics</td>
            <td>23/02/2023</td>
            <td>150</td>
        </tr>
    </table>
    <div class="side_list">
    <form method="post">
        <h2 style='color:red;'>Client Drug:</h2><br/>
        Client Name : <input type="text" name="client_name" ><br><br>
        <hr>
        Drug Name : paracetamol <br/><br/>
        ID   : KSH-976A<br/><br/>
        Quantity Purchased:  <input type="number" name="quantity" value="0"> <br/><br/>
        Total Cost of drugs purchased (excluding tax): $300.<br/><br>
        <hr>
        Drug Name: Mara Moja<br><br>
        ID : 91119<br><br>
        Quantity Purchased: <input type="number" name="quantity" value="19"><br><br>
        Discount : <input type="number" name="discount" id="discount"><br><br>
        Total cost of drugs purchased (excluding tax) : $300.<br><br>
        <hr>
        <h1>GRAND TOTAL : 3000 KSH</h1>
        <button style="background:greenyellow" name="submit" value="paycash" >pay cash</button>
        <button style="background:orange" name="submit" value="pay later"  >pay later</button>
        <button style="background:red" name="submit" value="cancel"  >cancel</button>
    </form><br><br><br></div>

    
</html>